<%= content_for :dash, "1" %>
<%= content_for :title, "Write a post" %>
<!-- Wrapper -->
  <div id="wrapper">
    <%= render 'partials/dash_nav' %>

    <!-- Main -->
      <div id="main">
        <div class="inner">

          <header>
            <h1>Adding a menu option is as simple as 1, 2, 3!</h1>
          </header>
          <%= form_for(:menu, url: addmenu_path) do |f| %>
          <div class="field half first">
            <%= f.text_field :title, :placeholder => "Menu Title" %>
            </div>
            <div class="field half">
              <%= f.text_field :subtitle, :placeholder => "Menu Subtitle" %>
              </div>
          <div class="field half first">
          <%= f.text_field :url, :placeholder => "URL" %>
        </div>
        <br />
          <div class="field half">
          <%= f.submit "Add", :class => "special" %>
        </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "partials/dash_scripts" %>
    
