<%= content_for :dash, "1" %>
<%= content_for :title, "Manage Your Posts" %>
<!-- Wrapper -->
  <div id="wrapper">
    <%= render 'partials/dash_nav' %>

    <!-- Main -->
   <div id="main">
     <div class="inner">
       <header>
         <h1>Manage Your Menu Links</h1>
         <a href="<%= addmenu_path %>"><%= submit_tag "Add", :class => "button special small" %></a>
       </header>
       <br />
       <section>
         <div class="table-wrapper">
           <table class="alt">
             <thead>
               <tr>
                 <th>Title</th>
                 <th>Subtitle</th>
                 <th>URL</th>
                 <th>Actions</th>
               </tr>
             </thead>
             <tbody>
               <% Menu.all.each do |m| %>
               <tr>
                 <th><%= m.title %></th>
                 <th><%= m.subtitle %></th>
                 <th><%= m.url %></th>
                 <th><%= link_to "Remove", menudelete_path(m.id)%></th>
               </tr>
               <% end %>
             </tbody>
           </table>
         </div>
         <%= render "partials/dash_scripts" %>
