<%= content_for :dash, "1" %>
<%= content_for :title, "Your Dashboard" %>
<!-- Wrapper -->
  <div id="wrapper">
    <%= render 'partials/dash_nav' %>

    <!-- Main -->
      <div id="main">
        <div class="inner">
          <header>
            <h1>Welcome back, <%= current_user.first_name %></h1>
          </header>
          <section class="tiles">
            <article class="style1">
              <span class="image">
                <img src="/images/pic01.jpg" alt="" />
              </span>
              <a href="<%= manage_path %>">
                <h2>Posts</h2>
                <div class="content">
                  <p>Writing a post? Let's go!</p>
                </div>
              </a>
            </article>
            <article class="style2">
              <span class="image">
                <img src="/images/pic02.jpg" alt="" />
              </span>
              <a href="<%= settings_path %>">
                <h2>Settings</h2>
                <div class="content">
                  <p>Set your site details here</p>
                </div>
              </a>
            </article>
            <article class="style1">
              <span class="image">
                <img src="/images/pic03.jpg" alt="" />
              </span>
              <a href="<%= link_path %>">
                <h2>Header Links</h2>
                <div class="content">
                  <p>Here's where you add header links</p>
                </div>
              </a>
            </article>
            <article class="style4">
              <span class="image">
                <img src="/images/pic04.jpg" alt="" />
              </span>
              <a href="<%= menu_path %>">
                <h2>Menu Links</h2>
                <div class="content">
                  <p>Time for some new links?</p>
                </div>
              </a>
            </article>
          </section>
        </div>
      </div>

  </div>
<%= render "partials/dash_scripts" %>
