<% content_for :title, "Site Settings" %>
<% content_for :dash, "1" %>
<!-- Wrapper -->
  <div id="wrapper">

  <%= render 'partials/dash_nav' %>

    <!-- Main -->
      <div id="main">
        <div class="inner">
          <header>
            <h1><span id="user">Site Settings</h1>
          </header>
          <section>
								<%= form_for(:settings, url: settings_path) do |f| %>
									<div class="field half first">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_name).first.nil?  %>
                    <%= f.text_field :blog_name, :placeholder => "Blog Name" %>
                    <% else %>
                    <%= f.text_field :blog_name, :placeholder => Setting.limit(1).pluck(:blog_name).first %>
                    <% end %>
									</div>
                  <div class="field half">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_email).first.nil?  %>
                    <%= f.text_field :blog_email, :placeholder => "Contact Email" %>
                    <% else %>
                    <%= f.text_field :blog_email, :placeholder => Setting.limit(1).pluck(:blog_email).first %>
                    <% end %>
									</div>
                  <div class="field half first">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_tagline).first.nil?  %>
                    <%= f.text_field :blog_tagline, :placeholder => "Blog Tagline" %>
                    <% else %>
										<%= f.text_field :blog_tagline, :placeholder => Setting.limit(1).pluck(:blog_tagline).first %>
                    <% end %>
									</div>
                  <div class="field half">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_about).first.nil?  %>
                    <%= f.text_field :blog_about, :placeholder => "About Your Blog" %>
                    <% else %>
										<%= f.text_field :blog_about, :placeholder => Setting.limit(1).pluck(:blog_about).first %>
                    <% end %>
									</div>
                  <div class="field half first">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_facebook).first.nil?  %>
                    <%= f.text_field :blog_facebook, :placeholder => "Facebook" %>
                    <% else %>
										<%= f.text_field :blog_facebook, :placeholder => Setting.limit(1).pluck(:blog_facebook).first %>
                    <% end %>
									</div>
                  <div class="field half">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_twitter).first.nil?  %>
                    <%= f.text_field :blog_twitter, :placeholder => "Twitter" %>
                    <% else %>
										<%= f.text_field :blog_twitter, :placeholder => Setting.limit(1).pluck(:blog_twitter).first %>
                    <% end %>
									</div>
                  <div class="field half first">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_appid).first.nil?  %>
                    <%= f.text_field :blog_appid, :placeholder => "Facebook App ID" %>
                    <% else %>
										<%= f.text_field :blog_appid, :placeholder => Setting.limit(1).pluck(:blog_appid).first %>
                    <% end %>
									</div>
                  <div class="field half">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_logo).first.nil?  %>
                    <%= f.text_field :blog_logo, :placeholder => "New Logo Image" %>
                    <% else %>
										<%= f.text_field :blog_logo, :placeholder => Setting.limit(1).pluck(:blog_logo).first %>
                    <% end %>
									</div>
                  <div class="field sixth first">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_css_bg).first.nil? %>
                    <%= f.text_field :blog_css_bg, :class => 'jscolor {hash:true, required:false}', :placeholder => "Blog Background" %>
                    <% else %>
										Blog body: <br><%= f.text_field :blog_css_bg, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:blog_css_bg).first %>
                    <% end %>
									</div>
                  <div class="field sixth">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_css_header).first.nil? %>
                    <%= f.text_field :blog_css_header, :class => 'jscolor {hash:true, required:false}', :placeholder => "Blog Header"  %>
                    <% else %>
										Blog header: <br><%= f.text_field :blog_css_header, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:blog_css_header).first  %>
                    <% end %>
									</div>
                  <div class="field sixth second">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_css_tc).first.nil? %>
                    <%= f.text_field :blog_css_tc, :class => 'jscolor {hash:true, required:false}', :placeholder => "Blog Text"  %>
                    <% else %>
										Blog text: <br><%= f.text_field :blog_css_tc, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:blog_css_tc).first  %>
                    <% end %>
									</div>
                  <div class="field sixth third">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_css_post).first.nil? %>
                    <%= f.text_field :blog_css_post, :class => 'jscolor {hash:true, required:false}', :placeholder => "Blog Post" %>
                    <% else %>
										Blog post: <br><%= f.text_field :blog_css_post, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:blog_css_post).first %>
                    <% end %>
									</div>
                  <div class="field sixth forth">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_css_button).first.nil? %>
                    <%= f.text_field :blog_css_button, :class => 'jscolor {hash:true, required:false}', :placeholder => "Blog Button" %>
                    <% else %>
										Blog button: <br><%= f.text_field :blog_css_button, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:blog_css_button).first %>
                    <% end %>
									</div>
                  <div class="field sixth fifth">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:blog_css_highlight).first.nil? %>
                    <%= f.text_field :blog_css_highlight, :class => 'jscolor {hash:true, required:false}', :placeholder => "Blog Highlight" %>
                    <% else %>
										Blog highlight: <br><%= f.text_field :blog_css_highlight, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:blog_css_highlight).first %>
                    <% end %>
									</div>
                  <div class="field quarter first">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:dash_css_bg).first.nil? %>
                    <%= f.text_field :blog_css_button, :class => 'jscolor {hash:true, required:false}', :placeholder => "Dash Background" %>
                    <% else %>
										Dash background: <br><%= f.text_field :dash_css_bg, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:dash_css_bg).first %>
                    <% end %>
									</div>
                  <div class="field quarter">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:dash_css_tc).first.nil? %>
                    <%= f.text_field :dash_css_tc, :class => 'jscolor {hash:true, required:false}', :placeholder => "Dash Text" %>
                    <% else %>
										Dash text: <br><%= f.text_field :dash_css_tc, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:dash_css_tc).first %>
                    <% end %>
									</div>
                  <div class="field quarter second">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:dash_css_highlight).first.nil? %>
                    <%= f.text_field :dash_css_highlight, :class => 'jscolor {hash:true, required:false}', :placeholder => "Dash Highlight" %>
                    <% else %>
										Dash highlight: <br><%= f.text_field :dash_css_highlight, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:dash_css_highlight).first %>
                    <% end %>
									</div>
                  <div class="field quarter third">
                    <% if Setting.first.nil? || Setting.limit(1).pluck(:dash_css_mtc).first.nil? %>
                    <%= f.text_field :dash_css_mtc, :class => 'jscolor {hash:true, required:false}', :placeholder => "Dash Menu Text" %>
                    <% else %>
										Dash menu text: <br><%= f.text_field :dash_css_mtc, :class => 'jscolor {hash:true, required:false}', :value => Setting.limit(1).pluck(:dash_css_mtc).first %>
                    <% end %>
									</div>
									<ul class="actions">
										<li><%= f.submit "Update", :class => "special" %></li>
									</ul>
                </div>

								<% end %>
							</section>

        </div>
      </div>

  </div>

  <!-- Scripts -->
    <script>
    <%= render 'phantom/jquery' %>
    </script>
    <script>
    <%= render 'phantom/skel' %>
    </script>
    <script>
    <%= render 'phantom/util' %>
    </script>
    <!--[if lte IE 8]>
    <script>
    <%= render 'phantom/respond' %>
    </script>
    <![endif]-->
    <script>
    <%= render 'phantom/main' %>
    </script>
    <script>
    <%= render 'phantom/jscolor' %>
    </script>
