<% content_for :title, "Sign Up" %>
<% content_for :font, "https://fonts.googleapis.com/css?family=Montserrat:200" %>
<% content_for :stylesheet, "https://cdn.2pro.international/panther/stylesheets/login.css" %>
<% content_for :login, "1" %>
<% if current_user %>
<script type="text/javascript">
	window.location.href="/dash"
</script>
<% else %>

<a href="<%= root_path %>"><%= image_tag "logo-text-white.png", :height => '55', :class => 'logo' %></a> <!-- 180^2 for signup -->

<%= form_for(@user, url: signup_path, :html => {:class => 'vertical-form'}) do |f| %>
<legend>
Sign Up
</legend>
<%= f.text_field :first_name, :placeholder => "First name", :type => 'text' %>
<%= f.text_field :last_name, :placeholder => "Last name" %>
<%= f.email_field :email, :placeholder => "Email" %>
<%= f.password_field :password, :placeholder => "Password (min 8 characters)", :pattern => ".{8,}" %>
   <%= f.submit "Sign Up" %>
   <p><a href="<%= login_path %>">Log in?</a></p>
	 <% end %>
	 <% end %>
