<% content_for :title, "Sign Up" %>
<% content_for :font, "https://fonts.googleapis.com/css?family=Montserrat:200" %>
<% content_for :stylesheet, "https://ltscdn.m6.nz/panther/stylesheets/login.css" %>
<% content_for :login, "1" %>
<ul class="notice errors">
<li>Uh Oh! Your name contains profanity. Please try again</li>
</ul>
<a href="<%= root_path %>"><%= image_tag "logo-text-white.png", :height => '55', :class => 'logo' %></a> <!-- 180^2 for signup -->

<%= form_for(@user, url: signup_path, :html => {:class => 'vertical-form'}) do |f| %>
<legend>
Sign Up
</legend>
<%= f.text_field :first_name, :placeholder => "First name", :type => 'text' %>
<%= f.text_field :last_name, :placeholder => "Last name" %>
<%= f.email_field :email, :placeholder => "Email" %>
<%= f.password_field :password, :placeholder => "Password", :pattern => ".{8,}" %>
<% if Setting.limit(1).pluck(:recaptcha_public).first && Setting.limit(1).pluck(:recaptcha_private).first %><%= invisible_recaptcha_tags site_key: Setting.limit(1).pluck(:recaptcha_public).first, callback: 'submitInvisibleRecaptchaForm', text: "Sign Up", :theme => 'dark' %><% else %><%= f.submit "Sign Up" %><% end %>
   <p><a href="<%= login_path %>">Log in?</a></p>
	 <% end %>
<%= render 'partials/login_recaptcha' %>
