<% content_for :title, "Reset Your Password" %>
<% content_for :font, "https://fonts.googleapis.com/css?family=Montserrat:200" %>
<% content_for :stylesheet, "https://cdn.2pro.international/panther/stylesheets/login.css" %>
<% content_for :login, "1" %>
<ul class="notice errors">
<li>Sweet! Please choose a new password.</li>
</ul>
<%= image_tag "logo-text-white.png", :height => '55', :class => 'logo' %> <!-- 180^2 for signup -->

<%= form_for(:session, url: reset_reset_path, :html => {:class => 'vertical-form'}) do |f| %>
<legend>
Reset Password
</legend>
<%= f.password_field :password, :placeholder => "Password" %>
   <% if Setting.limit(1).pluck(:recaptcha_public).first && Setting.limit(1).pluck(:recaptcha_private).first %><%= invisible_recaptcha_tags site_key: Setting.limit(1).pluck(:recaptcha_public).first, callback: 'submitInvisibleRecaptchaForm', text: "Reset my password", :theme => 'dark' %><% else %><%= f.submit "Reset my password" %><% end %>
<% end %>
