<% if Post.first.nil? %>
<% content_for :coming_soon, "1" %>
<% content_for :title, "Coming Soon" %>
<%= render 'partials/comingsoon_html' %>
<% else %>
<% content_for :blog, "1" %>
<% content_for :title, "Home" %>
<!-- Wrapper -->
  <div id="wrapper">

  <%= render 'partials/blog_header' %>
      <%= render 'partials/blog_menu' %>
    <!-- Main -->
      <div id="main">
          <% Post.order('id ASC').where("post_category ~ ?", params[:id]).each do |post| %>
          <!-- Post -->
            <article class="post">
              <header>
                <div class="title">
                  <h2><a href="<%= post_path(post.id, post.slug) %>"><%= post.post_title %></a></h2>
                  <p><%= post.post_subtitle %></p>
                </div>
                <div class="meta">
                  <time class="published" datetime="<%= post.created_at.strftime("%F") %>"><%= post.created_at.strftime("%B %e, %Y") %></time>
                  <a href="<%= asearch_path(post.owner) %>" class="author"><span class="name"><%= User.find_by(id: Post.limit(1).pluck(:owner).first).first_name %></span><img src="<%= gravatar_url(User.find_by(id: Post.limit(1).pluck(:owner).first).email, 200) %>" alt="" /></a>
                </div>
              </header>
              <p><%= raw post.post_body.truncate_words(25) %></p>
              <footer>
                <ul class="actions">
                  <li><a href="<%= post_path(post.id, post.slug) %>" class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                  <li><% if post.post_category.present?
                    post.post_category.split(',').each do |c| %><a href="<%= category_path(c.strip) %>"><%= c %></a> <% end %><% end %></li>
                    <li><a href="javascript:void(0)" class="icon fa-eye"><%= post.post_views.to_i - 1  %></a></li>
                    <li><a href="#" class="icon fa-comment">{comments}</a></li>
                    <li><a href="javascript:void(0)" target="popup" onclick="FB.ui({method: 'share',href: '<%= post_url(post.id, post.slug) %>',}, function(response){if(response && ! response.error_message){$.get('<%=share_path(post.id)%>');}});" class="icon fa-share"><%= post.post_shares.to_i  %></a></li>
                </ul>
              </footer>
            </article>
            <% end %>
          </section>

<%= render 'partials/blog_footer' %>

            					</section>

            			</div>

            		<!-- Scripts -->
            			<script>
                  <%= render 'future_imperfect/jquery' %>
                  </script>
                  <script>
                  <%= render 'future_imperfect/skel' %>
                  </script>
                  <script>
                  <%= render 'future_imperfect/util' %>
                  </script>
            			<!--[if lte IE 8]>
                  <script>
                  <%= render 'future_imperfect/respond' %>
                  </script>
                  <![endif]-->
                  <script>
                  <%= render 'future_imperfect/main' %>
                  </script>

  <% end %>
