<% if Post.first.nil? %>
<% content_for :coming_soon, "1" %>
<% content_for :title, "Coming Soon" %>
<%= render 'partials/comingsoon_html' %>
<% else %>
<% content_for :blog, "1" %>
<% content_for :single, "1" %>
<% content_for :title, Post.find_by(id: params[:id]).post_title %>
<!-- Wrapper -->
  <div id="wrapper">

<%= render 'partials/blog_header' %>
      <%= render 'partials/blog_menu' %>
    <!-- Main -->
      <div id="main">

        <!-- Post -->
          <article class="post">
            <header>
              <div class="title">
                <h2><a href="<%= request.url %>"><%= Post.find_by(id: params[:id]).post_title %></a></h2>
                <p><%= Post.find_by(id: params[:id]).post_subtitle %></p>
              </div>
              <div class="meta">
                <time class="published" datetime="<%= Post.find_by(id: params[:id]).created_at.strftime("%F") %>"><%= Post.find_by(id: params[:id]).created_at.strftime("%B %e, %Y") %></time>
                <a href="<%= asearch_path(Post.find_by(id: params[:id]).owner) %>" class="author"><span class="name"><%= User.find_by(id: Post.find_by(id: params[:id]).owner).first_name %></span><img src="<%= gravatar_url(User.find_by(id: Post.find_by(id: params[:id]).owner).email, 200) %>" alt="" /></a>
              </div>
            </header>
            <%= raw markdown(Post.find_by(id: params[:id]).post_body) %>
            <footer>
              <ul class="stats">
                <li><% if Post.find_by(id: params[:id]).post_category.present?
                  Post.find_by(id: params[:id]).post_category.split(',').each do |c| %><a href="<%= category_path(c.strip) %>"><%= c %></a> <% end %><% end %></li>
                <li><a href="javascript:void(0)" class="icon fa-eye"><%= Post.find_by(id: params[:id]).post_views.to_i - 1  %></a></li>
                <li><a href="javascript:void(0)" onclick="$('#comment-section').slideToggle();" class="icon fa-comment"><%= Post.find_by(id: params[:id]).post_comments.to_i  %></a></li>
                <li><a href="javascript:void(0)" target="popup" onclick="FB.ui({method: 'share',href: '<%= request.url%>',}, function(response){if(response && ! response.error_message){$.get('<%=share_path(:id)%>');}});" class="icon fa-share"><%= Post.find_by(id: params[:id]).post_shares.to_i  %></a></li>
              </ul>
            </footer>
          </article>

          <article class="post" style="display: none" id="comment-section">
            <% if current_user %>
            <a href="javascript:void(0)" onclick="$('#write-comment').slideToggle();" class="button special small">Comment</a><br /><br />
            <i>Warning: comments may be disturbing, proceed at your own risk</i><br /><br />
            <article class="post" style="display: none" id="write-comment">
              <%= form_for(:comment, url: comment_path(params[:id])) do |f| %>
              <%= f.text_area :content, :class => "editor", :placeholder => "Write your comment here! GitHub flavored makdown is supported" %>
              <br />
              <div class="field half">
                <% if Setting.limit(1).pluck(:recaptcha_public).first && Setting.limit(1).pluck(:recaptcha_private).first %><%= invisible_recaptcha_tags site_key: Setting.limit(1).pluck(:recaptcha_public).first, callback: 'submitInvisibleRecaptchaForm', text: "Post", :theme => 'dark' %><% else %><%= f.submit "Post" %><% end %>
            </div>
              <% end %>
            </article>
            <% else %>
            <a href="<%= login_path %>" class="button special small">Comment</a><br /><br />
            <i>Warning: comments may be disturbing, proceed at your own risk</i><br /><br />
            <% end %>
            <% Comment.where(:post_id => params[:id]).pluck(:content, :owner, :created_at, :id, :deleted, :awaiting_moderation).reverse.map do |content, owner, created_at, id, deleted, awaiting_moderation| %>
            <div class="talk-bubble tri-right btm-right" id="<%= id %>">
              <div class="talktext">
                <% if deleted == "0" && awaiting_moderation == "0" %><%= raw markdown(ActionController::Base.helpers.sanitize(content)) %><% elsif deleted == "1" %><p><i>This comment has been deleted</i></p><% elsif deleted == "2"%><p><i>This comment has been marked as spam</i></p><% elsif awaiting_moderation == "1"%><p><i>This comment is awaiting moderation</i></p><% end %>
              </div>
            </div>
            <span class="comment-author"><% if current_user && current_user.id == owner || current_user && current_user.level == "1" %><% if deleted == "0" %><%= link_to "Delete?", delcomment_path(params[:id], id) %> |<% end%><% end%> From <%= User.find_by(id: owner).first_name %><% if User.find_by(id: owner).enabled == "0" %> (Banned)<%end%> at <%= created_at.strftime("%l:%M%P on %B %e, %Y") %></span>
            <br />
            <hr>
            <% end %>
          </article>

      </div>
<%= render 'partials/blog_footer' %>
<%= render 'partials/comments_recaptcha' %>
<script>
if(window.location.hash) {
  console.log(window.location.hash)
  $('#comment-section').slideDown();
  $('html, body').animate({
        scrollTop: $(window.location.hash).offset().top
    }, 2000);
}
</script>
  <% end %>
