<% if Post.first.nil? %>
<% content_for :coming_soon, "1" %>
<% content_for :title, "Coming Soon" %>
<div class="se-pre-con"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="header-logo-wrapper">
        <%= image_tag "logo-text-white.png", :style => 'height: 150px !important;', :class => 'img-responsive center-block' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    <h1 class="text-center">Welcome to Panther!</h1>
    <h3 class="text-center">The site owner probably hasn't set this up yet</h3>
    </div>
  </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(window).load(function() {
  // Animate loader off screen
  $(".se-pre-con").fadeOut("slow");
});
</script>
<% else %>
<% content_for :blog, "1" %>
<% content_for :title, Post.find_by(@id).post_title %>
<div id="wrapper">

  <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
          <header id="header">
            <span class="logo"><a href="<%=root_path%>"><strong><%= Setting.limit(1).pluck(:blog_name).first %></strong></a> > Posts > <%= Post.find_by(@id).post_title %></span>
            <ul class="icons">
              <li><a href="<%= Setting.limit(1).pluck(:blog_twitter).first %>" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="<%= Setting.limit(1).pluck(:blog_facebook).first %>" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            </ul>
          </header>

        <!-- Banner -->
          <section>
            <div class="content">
              <header>
                <h1><%= Post.find_by(@id).post_title %></h1>
                <p><%= Post.find_by(@id).post_subtitle %></p>
              </header>
              <p><%= Post.find_by(@id).post_body %></p>
            </div>
          </section>
  <% end %>
