<% if Post.first.nil? %>
<% content_for :coming_soon, "1" %>
<% content_for :title, "Coming Soon" %>
<%= render 'partials/comingsoon_html' %>
<% else %>
<% content_for :blog, "1" %>
<% content_for :single, "1" %>
<% content_for :title, Post.find_by(id: params[:id]).post_title %>
<!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
      <header id="header">
        <h1><a href="<%= root_path %>"><%= Setting.limit(1).pluck(:blog_name).first %></a></h1>
        <nav class="links">
          <ul>
            <!--<li><a href="#">Lorem</a></li>-->
          </ul>
        </nav>
        <nav class="main">
          <ul>
            <li class="search">
              <a class="fa-search" href="#search">Search</a>
              <form id="search" method="get" action="/search">
                <input type="text" name="q" placeholder="Search" />
              </form>
            </li>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>

    <!-- Menu -->
      <section id="menu">

        <!-- Search -->
          <section>
            <form class="search" method="get" action="#">
              <input type="text" name="query" placeholder="Search" />
            </form>
          </section>

        <!-- Links -->
          <section>
            <ul class="links">
              <!--<li>
                <a href="#">
                  <h3>Lorem ipsum</h3>
                  <p>Feugiat tempus veroeros dolor</p>
                </a>
              </li>-->
            </ul>
          </section>

        <!-- Actions -->
          <section>
            <ul class="actions vertical">
              <li><a href="<%= login_path %>" class="button big fit">Log In</a></li>
            </ul>
          </section>

      </section>

    <!-- Main -->
      <div id="main">

        <!-- Post -->
          <article class="post">
            <header>
              <div class="title">
                <h2><a href="<%= request.url %>"><%= Post.find_by(id: params[:id]).post_title %></a></h2>
                <p><%= Post.find_by(id: params[:id]).post_subtitle %></p>
              </div>
              <div class="meta">
                <time class="published" datetime="2015-11-01">November 1, 2015</time>
                <a href="#" class="author"><span class="name"><%= Post.find_by(id: params[:id]).owner %></span><img src="/images/avatar.jpg" alt="" /></a>
              </div>
            </header>
            <p><%= Post.find_by(id: params[:id]).post_body %></p>
            <footer>
              <ul class="stats">
                <li><a href="<%= category_path(Post.find_by(id: params[:id]).post_category) %>"><%= Post.find_by(id: params[:id]).post_category %></a></li>
                <!--<li><a href="#" class="icon fa-heart">28</a></li>
                <li><a href="#" class="icon fa-comment">128</a></li>-->
              </ul>
            </footer>
          </article>

      </div>

    <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        <li><a href="<%= Setting.limit(1).pluck(:blog_twitter).first %>" class="fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="<%= Setting.limit(1).pluck(:blog_facebook).first %>" class="fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="mailto:<%= Setting.limit(1).pluck(:blog_email).first %>" class="fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <p class="copyright">&copy; <%= Date.today.year %> <%= Setting.limit(1).pluck(:blog_name).first %></p>
    </section>

  </div>

<!-- Scripts -->
<script>
<%= render 'future_imperfect/jquery' %>
</script>
<script>
<%= render 'future_imperfect/skel' %>
</script>
<script>
<%= render 'future_imperfect/util' %>
</script>
<!--[if lte IE 8]>
<script>
<%= render 'future_imperfect/respond' %>
</script>
<![endif]-->
<script>
<%= render 'future_imperfect/main' %>
</script>
  <% end %>
