<%= content_for :dash, "1" %>
<%= content_for :title, "Write a post" %>
<!-- Wrapper -->
  <div id="wrapper">
    <%= render 'partials/dash_nav' %>

    <!-- Main -->
      <div id="main">
        <div class="inner">

          <header>
            <h1>Time to write a post?</h1>
          </header>
          <%= form_for(:write, url: update_path(params[:id])) do |f| %>
          <div class="field half first">
            <%= f.text_field :title, :placeholder => Post.find_by(id: params[:id]).post_title %>
            </div>
          <div class="field half">
          <%= f.text_field :subtitle, :placeholder => Post.find_by(id: params[:id]).post_subtitle %>
        </div>
        <br /><br />
          <%= f.text_area :content, :placeholder => "Write your post here (you can use markdown!)", :value => Post.find_by(id: params[:id]).post_body, :class => "editor" %>
          <br />
          <div class="field half first">
          <%= f.text_field :tags, :placeholder => Post.find_by(id: params[:id]).post_category %>
          </div>
          <div class="field half">
          <%= f.submit "Update", :class => "special" %>
        </div>
          <% end %>
        </div>
      </div>
    </div>
      <%= render "partials/dash_scripts" %>
