<% if Post.first.nil? %>
<% content_for :coming_soon, "1" %>
<% content_for :title, "Coming Soon" %>
<%= render 'partials/comingsoon_html' %>
<% else %>
<% content_for :blog, "1" %>
<% content_for :title, "Home" %>
<!-- Wrapper -->
  <div id="wrapper">
    <%= render 'partials/blog_header' %>
      <%= render 'partials/blog_menu' %>
    <!-- Main -->
      <div id="main">

        <!-- Post -->
          <article class="post">
            <header>
              <div class="title">
                <h2><a href="<%= post_path(Post.order('id DESC').limit(1).pluck(:id).first, Post.limit(1).pluck(:slug).first) %>"><%= Post.order('id DESC').limit(1).pluck(:post_title).first %></a></h2>
                <p><%= Post.order('id DESC').limit(1).pluck(:post_subtitle).first %></p>
              </div>
              <div class="meta">
                <time class="published" datetime="<%= Post.order('id DESC').limit(1).pluck(:created_at).first.strftime("%F") %>"><%= Post.order('id DESC').limit(1).pluck(:created_at).first.strftime("%B %e, %Y") %></time>
                <a href="<%= asearch_path(Post.order('id DESC').limit(1).pluck(:owner).first)%>" class="author"><span class="name"><%= User.find_by(id: Post.order('id DESC').limit(1).pluck(:owner).first).first_name %></span><img src="<%= gravatar_url(User.find_by(id: Post.order('id DESC').limit(1).pluck(:owner).first).email, 200) %>" alt="" /></a>
              </div>
            </header>
            <p><%= raw Post.order('id DESC').limit(1).pluck(:post_body).first.truncate_words(25) %></p>
            <footer>
              <ul class="actions">
                <li><a href="<%= post_path(Post.order('id DESC').limit(1).pluck(:id).first, Post.order('id DESC').limit(1).pluck(:slug).first) %>" class="button big">Continue Reading</a></li>
              </ul>
              <ul class="stats">
                <li><% if Post.order('id DESC').limit(1).pluck(:post_category).first.present?
                  Post.order('id DESC').limit(1).pluck(:post_category).first.split(',').each do |c| %><a href="<%= category_path(c) %>"><%= c %></a><% end %><% end %></li>
                <!--<li><a href="#" class="icon fa-heart">28</a></li>
                <li><a href="#" class="icon fa-comment">128</a></li>-->
              </ul>
            </footer>
          </article>
          <% Post.all.order("id DESC").limit(3).offset(1).each do |post| %>
          <!-- Post -->
            <article class="post">
              <header>
                <div class="title">
                  <h2><a href="<%= post_path(post.id, post.slug) %>"><%= post.post_title %></a></h2>
                  <p><%= post.post_subtitle %></p>
                </div>
                <div class="meta">
                  <time class="published" datetime="<%= post.created_at.strftime("%F") %>"><%= post.created_at.strftime("%B %e, %Y") %></time>
                  <a href="<%= asearch_path(post.owner) %>" class="author"><span class="name"><%= User.find_by(id: Post.limit(1).pluck(:owner).first).first_name %></span><img src="<%= gravatar_url(User.find_by(id: Post.limit(1).pluck(:owner).first).email, 200) %>" alt="" /></a>
                </div>
              </header>
              <p><%= raw post.post_body.truncate_words(25) %></p>
              <footer>
                <ul class="actions">
                  <li><a href="<%= post_path(post.id, post.slug) %>" class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                  <li><% if post.post_category.present?
                    post.post_category.split(',').each do |c| %><a href="<%= category_path(c) %>"><%= c %></a><% end %><% end %></li>
                  <!--<li><a href="#" class="icon fa-heart">28</a></li>
                  <li><a href="#" class="icon fa-comment">128</a></li>-->
                </ul>
              </footer>
            </article>
            <% end %>

            					</div>

            				<!-- Sidebar -->
            					<section id="sidebar">

            						<!-- Intro -->
            							<section id="intro">
            								<a href="<%= root_path %>" class="logo"><img src="images/logo-text-black.png" alt="" /><br /></a>
            								<header>
            									<h2><%= Setting.limit(1).pluck(:blog_name).first %></h2>
            									<p><%= Setting.limit(1).pluck(:blog_tagline).first %></p>
            								</header>
            							</section>

            						<!-- Mini Posts -->
            							<section>
            								<div class="mini-posts">
                              <% Post.all.offset(3).limit(3).each do |post| %>
            									<!-- Mini Post -->
            										<article class="mini-post">
            											<header>
            												<h3><a href="<%= post_path(post.id, post.slug) %>"><%= post.post_title %></a></h3>
            												<time class="published" datetime="<%= post.created_at.strftime("%F") %>"><%= post.created_at.strftime("%B %e, %Y") %></time>
            												<a href="<%= asearch_path %>?q=<%=post.owner%>" class="author"><img src="images/avatar.jpg" alt="" /></a>
            											</header>
            										</article>
                                <% end %>
            								</div>
            							</section>

            						<!-- About -->
            							<section class="blurb">
            								<h2>About</h2>
            								<p><%= Setting.limit(1).pluck(:blog_about).first %></p>
            								<ul class="actions">
            									<!--<li><a href="#" class="button">Learn More</a></li>-->
            								</ul>
            							</section>

<%= render 'partials/blog_footer' %>

            					</section>

            			</div>

            		<!-- Scripts -->
                <script>
                <%= render 'future_imperfect/jquery' %>
                </script>
                <script>
                <%= render 'future_imperfect/skel' %>
                </script>
                <script>
                <%= render 'future_imperfect/util' %>
                </script>
                <!--[if lte IE 8]>
                <script>
                <%= render 'future_imperfect/respond' %>
                </script>
                <![endif]-->
                <script>
                <%= render 'future_imperfect/main' %>
                </script>

  <% end %>
