<% if Post.first.nil? %>
<% content_for :coming_soon, "1" %>
<% content_for :title, "Coming Soon" %>
<%= render 'partials/comingsoon_html' %>
<% else %>
<% content_for :blog, "1" %>
<% content_for :title, "Home" %>
<!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
      <header id="header">
        <h1><a href="<%= root_path %>"><%= Setting.limit(1).pluck(:blog_name).first %></a></h1>
        <nav class="links">
          <ul>
          </ul>
        </nav>
        <nav class="main">
          <ul>
            <li class="search">
              <a class="fa-search" href="#search">Search</a>
              <form id="search" method="get" action="/search">
                <input type="text" name="q" placeholder="Search" />
              </form>
            </li>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>

    <!-- Menu -->
      <section id="menu">

        <!-- Search -->
          <section>
            <form class="search" method="get" action="#">
              <input type="text" name="query" placeholder="Search" />
            </form>
          </section>

        <!-- Links -->
          <section>
            <ul class="links">
<!--              <li>
                <a href="#">
                  <h3>Etiam sed consequat</h3>
                  <p>Porta lectus amet ultricies</p>
                </a>
              </li>-->
            </ul>
          </section>

        <!-- Actions -->
          <section>
            <ul class="actions vertical">
              <li><a href="<%= login_path %>" class="button big fit">Log In</a></li>
            </ul>
          </section>

      </section>

    <!-- Main -->
      <div id="main">
          <% Post.order('id ASC').where("post_title ~ ?", params[:q]).each do |post| %>
          <!-- Post -->
            <article class="post">
              <header>
                <div class="title">
                  <h2><a href="<%= post_path(post.id, post.slug) %>"><%= post.post_title %></a></h2>
                  <p><%= post.post_subtitle %></p>
                </div>
                <div class="meta">
                  <time class="published" datetime="<%= post.created_at.strftime("%F") %>"><%= post.created_at.strftime("%B %e, %Y") %></time>
                  <a href="#" class="author"><span class="name"><%= Post.limit(1).pluck(:owner).first %></span><img src="/images/avatar.jpg" alt="" /></a>
                </div>
              </header>
              <p><%= post.post_body.truncate_words(25) %></p>
              <footer>
                <ul class="actions">
                  <li><a href="<%= post_path(post.id, post.slug) %>" class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                  <li><a href="<%= category_path(post.post_category) %>"><%= post.post_category %></a></li>
                  <!--<li><a href="#" class="icon fa-heart">28</a></li>
                  <li><a href="#" class="icon fa-comment">128</a></li>-->
                </ul>
              </footer>
            </article>
            <% end %>
          </section>

            						<!-- Footer -->
            							<section id="footer">
            								<ul class="icons">
            									<li><a href="<%= Setting.limit(1).pluck(:blog_twitter).first %>" class="fa-twitter"><span class="label">Twitter</span></a></li>
            									<li><a href="<%= Setting.limit(1).pluck(:blog_facebook).first %>" class="fa-facebook"><span class="label">Facebook</span></a></li>
            									<li><a href="mailto:<%= Setting.limit(1).pluck(:blog_email).first %>" class="fa-envelope"><span class="label">Email</span></a></li>
            								</ul>
            								<p class="copyright">&copy; <%= Date.today.year %> <%= Setting.limit(1).pluck(:blog_name).first %></p>
            							</section>

            					</section>

            			</div>

            		<!-- Scripts -->
                <script>
                <%= render 'future_imperfect/jquery' %>
                </script>
                <script>
                <%= render 'future_imperfect/skel' %>
                </script>
                <script>
                <%= render 'future_imperfect/util' %>
                </script>
                <!--[if lte IE 8]>
                <script>
                <%= render 'future_imperfect/respond' %>
                </script>
                <![endif]-->
                <script>
                <%= render 'future_imperfect/main' %>
                </script>

  <% end %>
