<% if Post.first.nil? %>
<% content_for :coming_soon, "1" %>
<% content_for :title, "Coming Soon" %>
<%= render 'partials/comingsoon_html' %>
<% else %>
<% content_for :blog, "1" %>
<% content_for :title, "Home" %>
<!-- Wrapper -->
  <div id="wrapper">

    <%= render 'partials/blog_header' %>
        <%= render 'partials/blog_menu' %>
    <!-- Main -->
      <div id="main">
          <% Post.order('id DESC').where("lower(post_title) ~ ?", params[:q].downcase).each do |post| %>
          <!-- Post -->
            <article class="post">
              <header>
                <div class="title">
                  <h2><a href="<%= post_path(post.id, post.slug) %>"><%= post.post_title %></a></h2>
                  <p><%= post.post_subtitle %></p>
                </div>
                <div class="meta">
                  <time class="published" datetime="<%= post.created_at.strftime("%F") %>"><%= post.created_at.strftime("%B %e, %Y") %></time>
                  <a href="<%= asearch_path %>?q=<%=post.owner%>" class="author"><span class="name"><%= Post.limit(1).pluck(:owner).first %></span><img src="/images/avatar.jpg" alt="" /></a>
                </div>
              </header>
              <p><%= raw post.post_body.truncate_words(25) %></p>
              <footer>
                <ul class="actions">
                  <li><a href="<%= post_path(post.id, post.slug) %>" class="button big">Continue Reading</a></li>
                </ul>
                <ul class="stats">
                  <li><% post.post_category.split(',').each do |c| %><a href="<%= category_path(c) %>"><%= c %></a><% end %></li>
                  <!--<li><a href="#" class="icon fa-heart">28</a></li>
                  <li><a href="#" class="icon fa-comment">128</a></li>-->
                </ul>
              </footer>
            </article>
            <% end %>
          </section>

          <%= render 'partials/blog_footer' %>
            			</div>

            		<!-- Scripts -->
                <script>
                <%= render 'future_imperfect/jquery' %>
                </script>
                <script>
                <%= render 'future_imperfect/skel' %>
                </script>
                <script>
                <%= render 'future_imperfect/util' %>
                </script>
                <!--[if lte IE 8]>
                <script>
                <%= render 'future_imperfect/respond' %>
                </script>
                <![endif]-->
                <script>
                <%= render 'future_imperfect/main' %>
                </script>

  <% end %>
