<%= content_for :dash, "1" %>
<%= content_for :title, "Write a post" %>
<!-- Wrapper -->
  <div id="wrapper">
    <%= render 'partials/dash_nav' %>

    <!-- Main -->
      <div id="main">
        <div class="inner">

          <header>
            <h1>Time to write a post?</h1>
          </header>
          <%= form_for(:write, url: write_path) do |f| %>
          <div class="field half first">
            <%= f.text_field :title, :placeholder => "Post Title" %>
            </div>
          <div class="field half">
          <%= f.text_field :subtitle, :placeholder => "Post Subtitle" %>
        </div>
        <br /><br />
          <%= f.text_area :content, :placeholder => "Write your post here (you can use markdown!)", :class => "editor" %>
          <br />
          <div class="field half first">
          <%= f.text_field :tags, :placeholder => "Tags (Seperate with a comma)" %>
          </div>
          <div class="field half">
          <%= f.submit "Post", :class => "special" %>
        </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "partials/dash_scripts" %>
