<% content_for :title, current_user.first_name + "'s Profile" %>
<% content_for :dash, "1" %>
<!-- Wrapper -->
  <div id="wrapper">

    <%= render 'partials/dash_nav' %>

    <!-- Main -->
      <div id="main">
        <div class="inner">
          <header>
            <h1><span id="user"><%= current_user.first_name %></span>'s Profile</h1>
            <p>Time to update your details?</p>
          </header>
          <section>
								<%= form_for(:profile, url: account_path) do |f| %>
									<div class="field half first">
                    <%= f.text_field :first_name, :placeholder => current_user.first_name %>
									</div>
									<div class="field half">
										<%= f.text_field :last_name, :placeholder => current_user.last_name %>
									</div>
                  <div class="field half first">
										<%= f.text_field :email, :placeholder => current_user.email %>
									</div>
                  <div class="field half">
										<%= f.password_field :password, :placeholder => "New Password" %>
									</div>
                  <div class="field half first">
                    <% if current_user.facebook.empty? %>
										<%= f.text_field :facebook, :placeholder => "Facebook URL" %>
                    <% else %>
                    <%= f.text_field :facebook, :placeholder => current_user.facebook %>
                    <% end %>
									</div>
                  <div class="field half">
                    <% if current_user.twitter.empty? %>
										<%= f.text_field :twitter, :placeholder => "Twitter Handle" %>
                    <% else %>
                    <%= f.text_field :twitter, :placeholder => current_user.twitter %>
                    <% end %>
									</div>
                  <div class="field">
                    <% if current_user.facebook.empty? %>
										<%= f.text_field :oneline, :placeholder => "A few words about you" %>
                    <% else %>
                    <%= f.text_field :oneline, :placeholder => current_user.oneline %>
                    <% end %>
									</div>
									<ul class="actions">
										<%= f.submit "Update", :class => "special" %>
									</ul>
								<% end %>

							</section>

        </div>
      </div>

  </div>

  <%= render "partials/dash_scripts" %>
