<!DOCTYPE html>
<html>
  <head>
    <title><% if Setting.first.nil? %>Panther<% else %> <%= Setting.limit(1).pluck(:blog_name).first %> <% end %> - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://cdn.2pro.international/panther/favicon.ico?v=4" />
    <% if content_for?(:stylesheet) %>
      <%= stylesheet_link_tag yield(:stylesheet), :media => "all" %>
    <% end %>
    <% if content_for?(:font) %>
      <%= stylesheet_link_tag yield(:stylesheet), :media => "all" %>
    <% end %>
    <% if content_for?(:blog) %>
    <%= render 'partials/blog' %>
    <% end %>
    <% if content_for?(:profile) %>
    <%= render 'partials/profile' %>
    <% end %>
    <% if content_for?(:dash) %>
    <%= render 'partials/dash' %>
    <style>
    #header {
      padding: 4em 0 0.1em 0 !important;
    }
    </style>
    <% end %>
    <% if content_for?(:coming_soon) %>
    <%= render 'partials/comingsoon' %>
    <% end %>
    <% if ! content_for?(:coming_soon) && ! content_for(:dash) && ! content_for(:login) && ! content_for(:profile)  %>
    <style>
    body{background: <%= Setting.limit(1).pluck(:blog_css_bg).first %> !important;}#header,#menu{background: <%= Setting.limit(1).pluck(:blog_css_header).first %> !important;}*{color: <%= Setting.limit(1).pluck(:blog_css_tc).first %> !important;}.post{background: <%= Setting.limit(1).pluck(:blog_css_post).first %> !important;}.button{color: <%= Setting.limit(1).pluck(:blog_css_button).first %> !important;}a:hover{color: <%= Setting.limit(1).pluck(:blog_css_highlight).first %> !important}.talk-bubble{background-color: <%= Setting.limit(1).pluck(:blog_css_bg).first %> !important;width: 100% !important;margin: 0 !important;margin-right: 40px !important;margin-bottom: 40px !important}.tri-right.btm-right:after{border-color: <%= Setting.limit(1).pluck(:blog_css_bg).first %> <%= Setting.limit(1).pluck(:blog_css_bg).first %> transparent transparent !important};
    </style>
    <% end %>
    <% if ! content_for?(:coming_soon) && ! content_for(:blog) && ! content_for(:login) && ! content_for(:profile) %>
    <style>
    body{background: <%= Setting.limit(1).pluck(:dash_css_bg).first %> !important;}.editor,.editor:focus{background-color: <%= Setting.limit(1).pluck(:blog_css_bg).first %> !important;}a:hover{color: <%= Setting.limit(1).pluck(:dash_css_highlight).first %> !important;}body:not(#menu){color: <%= Setting.limit(1).pluck(:dash_css_tc).first %> !important;}#menu{color: <%= Setting.limit(1).pluck(:dash_css_mtc).first %> !important;}
    </style>
    <% end %>
    <!-- Panther, Build 863. Render Time: <%= Time.now-@start_time %> seconds -->
    <script>
    window.fbAsyncInit = function() {
  FB.init({
    appId            : '<% if Setting.first.nil? %>0<% else %><%= Setting.limit(1).pluck(:blog_appid).first %><% end %>',
    autoLogAppEvents : true,
    xfbml            : true,
    version          : 'v2.10'
  });
  FB.AppEvents.logPageView();
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>

<%if content_for?(:login) %><style> body {font-family: "helvetica neue", "helvetica", "arial", sans-serif;}</style><body class="login"><%end%>
  <body <% if content_for?(:single) %> class="single" <% end %>>
    <%= yield %>
  </body>
</html>
