<!DOCTYPE html>
<html>
  <head>
    <title><% if Setting.first.nil? %>Panther<% else %> <%= Setting.limit(1).pluck(:blog_name).first %> <% end %> - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% if content_for?(:stylesheet) %>
      <%= stylesheet_link_tag yield(:stylesheet), :media => "all" %>
    <% end %>
    <% if content_for?(:font) %>
      <%= stylesheet_link_tag yield(:stylesheet), :media => "all" %>
    <% end %>
    <% if content_for?(:blog) %>
    <%= render 'partials/blog' %>
    <% end %>
    <% if content_for?(:dash) %>
    <%= render 'partials/dash' %>
    <style>
    #header {
      padding: 4em 0 0.1em 0 !important;
    }
    </style>
    <% end %>
    <% if content_for?(:coming_soon) %>
    <%= render 'partials/comingsoon' %>
    <% end %>
    <!-- Panther, Build 59. Render Time: <%= Time.now-@start_time %> seconds -->
  </head>

<%if content_for?(:login) %><style> body {font-family: "helvetica neue", "helvetica", "arial", sans-serif;}</style><body class="login"><%end%>
  <body <% if content_for?(:single) %> class="single" <% end %>>
    <%= yield %>
  </body>
</html>
